<template>
    <div class="wrapper">
        <h1>Welcome!</h1>
        <router-link to="/posts">Posts</router-link>
        <router-link to="/about">About</router-link>
    </div>
</template>

<script>
export default {
    
}
</script>

<style>
    .wrapper {
        display: flex;
        flex-direction: column;
    }
</style>