<template>
    <div>
        <h1>Posts page</h1>
        <MyInput v-model="searchQuery" placeholder="Search..." v-focus/>
        <div class="app__btns">
            <MyButton>
                Create post
            </MyButton>
            <MySelect v-model="selectedSort" :options="sortOptions" />
        </div>
        <MyDialog v-model:show="dialogVisible">
            <PostForm/>
        </MyDialog>
        <PostList :posts="sortedAndSearchedPosts" v-if="!isPostsLoading" />
        <div v-else class="loading-bar">Loading...</div>
    </div>
</template>

<script>
/* eslint-disable */
import PostForm from '@/components/PostForm.vue';
import PostList from '@/components/PostList.vue';
import MyButton from '@/components/UI/MyButton.vue';
import MyDialog from '@/components/UI/MyDialog.vue';
import MySelect from '@/components/UI/MySelect.vue';
import MyInput from '@/components/UI/MyInput.vue';
import usePosts from '@/hooks/usePosts';
import useSortedPosts from '@/hooks/useSortedPosts';
import useSortedAndSearchedPosts from '@/hooks/useSortedAndSearchedPosts';

export default {
    components: {
        PostList,
        PostForm,
        MyDialog,
        MyButton,
        MySelect,
        MyInput
    },
    data() {
        return {
            dialogVisible: false,
            sortOptions: [
                { value: 'title', name: 'By name' },
                { value: 'body', name: 'By description' },
            ]
        }
    },
    setup(props) {
       const {posts, totalPages, isPostsLoading} = usePosts(10);
       const {sortedPosts, selectedSort} = useSortedPosts(posts);
       const {searchQuery, sortedAndSearchedPosts} = useSortedAndSearchedPosts(sortedPosts);

       return { 
            posts, 
            totalPages, 
            isPostsLoading,
            sortedPosts, 
            selectedSort,
            searchQuery,
            sortedAndSearchedPosts 
        }
    }
}
</script>

<style>
.app__btns {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.loading-bar {
    font-weight: bold;
}
</style>