<template>
    <div>
        <h1>Posts page</h1>
        <MyInput v-model="searchQuery" placeholder="Search..." v-focus/>
        <div class="app__btns">
            <MyButton @click="showDialog">
                Create post
            </MyButton>
            <MySelect v-model="selectedSort" :options="sortOptions" />
        </div>
        <MyDialog v-model:show="dialogVisible">
            <PostForm @create="createPost" />
        </MyDialog>
        <PostList :posts="sortedAndSearchedPosts" @remove="removePost" v-if="!isPostsLoading" />
        <div v-else class="loading-bar">Loading...</div>
        <div v-intersection="loadMorePosts" class="observer">

        </div>
        <!-- Previous type of pagination -->
        <!-- <div class="page__wrapper">
            <div 
            v-for="pageNumber in totalPages" 
            :key="pageNumber"
            class="page"
            :class="{
                'current-page': page === pageNumber
            }"
            @click="changePage(pageNumber)"
            >
                {{ pageNumber }}
            </div>
        </div> -->
    </div>
</template>

<script>
import PostForm from '@/components/PostForm.vue';
import PostList from '@/components/PostList.vue';
import MyButton from '@/components/UI/MyButton.vue';
import MyDialog from '@/components/UI/MyDialog.vue';
import MySelect from '@/components/UI/MySelect.vue';
import MyInput from '@/components/UI/MyInput.vue';
import axios from 'axios';
export default {
    components: {
        PostList,
        PostForm,
        MyDialog,
        MyButton,
        MySelect,
        MyInput
    },
    data() {
        return {
            posts: [],
            dialogVisible: false,
            isPostsLoading: false,
            selectedSort: '',
            searchQuery: '',
            page: 1,
            limit: 10,
            totalPages: 0,
            sortOptions: [
                { value: 'title', name: 'By name' },
                { value: 'body', name: 'By description' },
            ]
        }
    },
    methods: {
        createPost(post) {
            this.posts.push(post);
            this.dialogVisible = false;
        },
        removePost(post) {
            this.posts = this.posts.filter(p => p.id !== post.id)
        },
        showDialog() {
            this.dialogVisible = true;
        },
        /* changePage(pageNumber) {
            this.page = pageNumber
        }, */
        async fetchPosts() {
            try {
                this.isPostsLoading = true;
                const response = await axios.get('https://jsonplaceholder.typicode.com/posts', {
                    params: {
                        _page: this.page,
                        _limit: this.limit,
                    }
                })
                this.totalPages = Math.ceil(response.headers['x-total-count'] / this.limit)
                this.posts = response.data;
            } catch (e) {
                alert('Error occurred!')
            } finally {
                this.isPostsLoading = false;
            }
        },
        async loadMorePosts() {
            try {
                this.page += 1;
                const response = await axios.get('https://jsonplaceholder.typicode.com/posts', {
                    params: {
                        _page: this.page,
                        _limit: this.limit,
                    }
                })
                this.totalPages = Math.ceil(response.headers['x-total-count'] / this.limit)
                this.posts = [...this.posts, ...response.data];
            } catch (e) {
                alert('Error occurred!')
            } 
        }
    },
    mounted() {
        this.fetchPosts();
        console.log(this.$refs.observer);
        /* let options = {
            rootMargin: '0px',
            threshold: 1.0
        }
        // eslint-disable-next-line
        let callback = (entries, observer) => {
            if (entries[0].isIntersecting && this.page < this.totalPages) {
                this.loadMorePosts();
            }
        };
        let observer = new IntersectionObserver(callback, options);
        observer.observe(this.$refs.observer); */
    },
    computed: {
        sortedPosts() {
            return [...this.posts].sort((post1, post2) => post1[this.selectedSort]?.localeCompare(post2[this.selectedSort]))
        },
        sortedAndSearchedPosts() {
            return this.sortedPosts.filter(post => post.title.toLowerCase().includes(this.searchQuery.toLowerCase()))
        }
    },
    watch: {
        /* page() {
            this.fetchPosts()
        } */
    }
}
</script>

<style>


.app__btns {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.loading-bar {
    font-weight: bold;
}

/* Pagination styles */
/* .page__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.page {
    background-color: #ebebeb;
    border-radius: 50%;
    padding: 10px;
    width: 43px;
    height: 43px;
    text-align: center;
}
.page:hover {
    cursor: pointer;
}
.current-page {
    background-color: #c8ffff;
} */
.observer {
    height: 30px;
    background-color: #c8ffff;
}
</style>