<template>
    <div>
        <h1>Posts page</h1>
        <MyInput 
            :model-value="searchQuery" 
            @update:model-value="setSearchQuery" 
            placeholder="Search..." 
            v-focus 
        />
        <div class="app__btns">
            <MyButton @click="showDialog">
                Create post
            </MyButton>
            <MySelect 
                :model-value="selectedSort" 
                @update:model-value="setSelectedSort"
                :options="sortOptions" 
            />
        </div>
        <MyDialog v-model:show="dialogVisible">
            <PostForm @create="createPost" />
        </MyDialog>
        <PostList :posts="sortedAndSearchedPosts" @remove="removePost" v-if="!isPostsLoading" />
        <div v-else class="loading-bar">Loading...</div>
        <div v-intersection="loadMorePosts" class="observer"></div>
    </div>
</template>

<script>
/* eslint-disable */
import PostForm from '@/components/PostForm.vue';
import PostList from '@/components/PostList.vue';
import MyButton from '@/components/UI/MyButton.vue';
import MyDialog from '@/components/UI/MyDialog.vue';
import MySelect from '@/components/UI/MySelect.vue';
import MyInput from '@/components/UI/MyInput.vue';
import { mapState, mapGetters, mapActions, mapMutations } from 'vuex';
// import axios from 'axios';
export default {
    components: {
        PostList,
        PostForm,
        MyDialog,
        MyButton,
        MySelect,
        MyInput
    },
    data() {
        return {
            dialogVisible: false,
        }
    },
    methods: {
        ...mapMutations({
            setPage: 'post/setPage',
            setSearchQuery: 'post/setSearchQuery',
            setSelectedSort: 'post/setSelectedSort'
        }),
        ...mapActions({
            loadMorePosts: 'post/loadMorePosts',
            fetchPosts: 'post/fetchPosts'
        }),
        createPost(post) {
            this.posts.push(post);
            this.dialogVisible = false;
        },
        removePost(post) {
            this.posts = this.posts.filter(p => p.id !== post.id)
        },
        showDialog() {
            this.dialogVisible = true;
        },
    },
    mounted() {
        this.fetchPosts();
    },
    computed: {
        ...mapState({
            posts: state => state.post.posts,
            isPostsLoading: state => state.post.isPostsLoading,
            selectedSort: state => state.post.selectedSort,
            searchQuery: state => state.post.searchQuery,
            page: state => state.post.page,
            limit: state => state.post.limit,
            totalPages: state => state.post.totalPages,
            sortOptions: state => state.post.sortOptions
        }),
        ...mapGetters({
            sortedPosts: 'post/sortedPosts',
            sortedAndSearchedPosts: 'post/sortedAndSearchedPosts',
        })
    },
    watch: {
        /* page() {
            this.fetchPosts()
        } */
    }
}
</script>

<style>
.app__btns {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.loading-bar {
    font-weight: bold;
}

/* Pagination styles */
/* .page__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.page {
    background-color: #ebebeb;
    border-radius: 50%;
    padding: 10px;
    width: 43px;
    height: 43px;
    text-align: center;
}
.page:hover {
    cursor: pointer;
}
.current-page {
    background-color: #c8ffff;
} */
.observer {
    height: 30px;
    background-color: #c8ffff;
}
</style>