<template>
    <div class="navbar">
        <div @click="$router.push('/')">My Pet App</div>
        <div class="navbar__btns">
            <MyButton @click="$router.push('/posts')">
                Posts
            </MyButton>
            <MyButton style="margin-left: 20px;" @click="$router.push('/store')">
                Posts (Store)
            </MyButton>
            <MyButton style="margin-left: 20px;" @click="$router.push('/composition')">
                Posts (Composition API)
            </MyButton>
            <MyButton style="margin-left: 20px;" @click="$router.push('/about')">
                About
            </MyButton>
        </div>
    </div>
</template>

<script>

export default {
}
</script>

<style>
.navbar {
    height: 50px;
    box-shadow: 2px 2px 4px #c8ffff;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.navbar__btns {
    margin-left: auto;
}
</style>