<template>
  <div class="post" :key="post.id">
    <div>
      <div>{{  post.id  }}</div>
        <div><strong>Name: </strong> {{ post.title }}</div>
        <div><strong>Description: </strong> {{ post.body }}</div>
    </div>
    <div class="post__btns">
      <MyButton
        @click="$router.push(`/posts/${post.id}`)"
        style="margin-left: 10px;"
      >
        Open
      </MyButton>
      <MyButton
        @click="$emit('remove', post)"
        style="margin-left: 10px;"
      >
        Delete
      </MyButton>
    </div>
  </div>
</template>

<script>
export default {
    props: {
        post: {
            type: Object,
            required: true,
        }
    },
};
</script>
<style>
.post {
  padding: 15px;
  border: none;
  background-color: #c8ffff;
  background-image: linear-gradient(90deg, #c8ffff 0%, #c8ebff 84%);
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post .btn:hover {
  cursor: pointer;
}
.post__btns {
  display: flex;
}
</style>
