<template>
  <form @submit.prevent>
    <h4>Create a post</h4>
    <MyInput
      v-focus
      v-model="post.title"
      type="text"
      placeholder="Post name.."
    />
    <MyInput
      v-model="post.body"
      type="text"
      placeholder="Post description.."
    />
    <MyButton 
    class="create-btn" 
    @click="createPost"
    >
    Add
    </MyButton>
  </form>
</template>
<script>
export default {
  data() {
    return {
      post: {
        title: "",
        body: "",
      },
    };
  },
  methods: {
    createPost() {
      this.post.id = Date.now();
      this.$emit('create', this.post, 'second param', 'third param');
      this.post = {
        title: "",
        body: "",
      }
    },
  },
};
</script>
<style>
form {
  display: flex;
  flex-direction: column;
}
.create-btn {
 align-self: flex-end;
 margin-top: 10px;
}
.create-btn:hover {
  cursor: pointer;
}
</style>
