<template>
    <NavBar></NavBar>
    <div class="app">
        <router-view>

        </router-view>
    </div>
</template>

<script>
import NavBar from '@/components/NavBar.vue';

export default {
    components: { NavBar }
}
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.app {
    padding: 20px;
}
</style>