<template>
    <button class="btn">
        <slot></slot>
    </button>
</template>
<script>
export default {
    name: 'MyButton'
}
</script>
<style>
    .btn {
  padding: 8px 15px;
  background: #fff;
  color: #ff8a1c;
  border: 2px solid rgb(200, 255, 255);
  border-radius: 10px;
  font-size: large;
}
.btn:hover {
    cursor: pointer;
}
</style>