<template>
    <select v-model="localModelValue" @change="changeOption">
       <option disabled value="">Select from the list</option> 
       <option 
        v-for="option in options" 
        :key="option.value" 
        :value="option.value"
       >
        {{  option.name }}
        </option>
    </select>
</template>

<script>
export default {
    name: 'MySelect',
    props: {
        modelValue: {
            type: String
        },
        options: {
            type: Array,
            default: () => []
        }
    },
    methods: {
        changeOption(event) {
            console.log(event)
            this.$emit('update:modelValue', event.target.value)
        }
    },
    computed: {
    localModelValue: {
        get() {
            return this.modelValue
        },
        set(newValue) {
            this.$emit('update:modelValue', newValue)
        },
    },
},
}
</script>

<style>
    
</style>